@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}
.logoHeader {
  display: flex;
  align-items: center;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  }

.navHeader {
  display: flex;
  align-items: center;
  width: 40%;
  font-family: "Montserrat", sans-serif;
 }

.ulHeader {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.liHeader {
  font-size: 1rem;
  cursor: pointer;
  transition-duration:1s;
  transform-origin: 0% 0%
}

.liHeader:hover {
font-size: 1.2rem;
cursor: pointer;
/*transition: .7s ease all;*/
color: #007DD0;
transform:scale(1);

}

.imagens {
    display: inline-block;
    padding: 0.5rem;
    transition-duration:1s;
    transform-origin: 0% 0%
  }

  .imagens:hover {
    display: inline-block;
    padding: 0.5rem;
    width: 275px;
    height: 275px;
    /*transition: .7s ease all;*/
    transform:scale(1);
    cursor: pointer;
  }

  #sectionFotosOne {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }


  .sectionLaranja > .laranjaBackground {
    width: 100%;
    height: 100%;
  }

  .textoLaranja {
    font-family: "Montserrat", sans-serif;
    font-size: 3.1rem;
    color: white;
    transition-duration:1s;
    transform-origin: 0% 0%
  }

  .textoLaranja:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 3.3rem;
    color: white;
    /*transition: .7s ease all;*/
    cursor: pointer;
    transform:scale(1);
  }

  .faleConosco {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    top: 2rem;
    transition-duration:1s;
    transform-origin: 0% 0%
  }

  .faleConosco:hover {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    color: white;
    top: 2rem;
     /*transition: .7s ease all;*/
    cursor: pointer;
    transform:scale(1);
  }

  .textosLaranja {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    bottom: 19rem;
    left: 8rem;
    width: 70%;
  }


  .navFooter {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Montserrat", sans-serif; 
  }

  .ulFooter {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /*position: relative;
    left: 4rem;*/
  }

  .liFooter, .liFooter1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1.5rem;
  }

  .liFooter:hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  .liFooter1:hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: #F6F6F6;
}

#copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
}
  
@media(min-width:201px) and (max-width: 500px){
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: static;
    z-index: 3;
  }

  .logoHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    line-height: 1rem;
    position: static;
z-index: 3;
  }

  .navHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    background-color: black;
    width: 100%;
    height: 20vh;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    position: static;
    z-index: 3;
  }

  .ulHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
  }

.liHeader {
  padding: 2px;
}

  .sectionLaranja {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-top: 3rem;
  }

  .imagens {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
width: 80%;
height: 40%;
  }

  .imagens:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 40%;
      }

  #sectionFotosOne > .imagens {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
  }
  .laranjaBackground {
    z-index: 1;
  }
.textosLaranja {
  width: 100%;
  position: absolute;
  top: 15rem;
  left: 1rem;
}
  .textoLaranja, .textoLaranja:hover {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 2rem;
    z-index: 2;
  }

  .faleConosco, .faleConosco:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: white;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    right: -0.1rem;
    top: 8rem;
    z-index: 2;
  }



  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F6F6F6;
    height: 20vh;
}

.divNavFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divH1Footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  width: 100%;
}

.navFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
}


.ulFooter {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.liFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0.1rem;
  width: 25px;
}

.liFooter1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0.1rem;
  width: 15px;
}

.liFooter:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0.1rem;
  width: 25px;
}

.liFooter1:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0.1rem;
  width: 15px;
}

  }